# Core libraries
python-dotenv  # For loading environment variables from .env files

# Data manipulation and visualization
pandas  # For data manipulation and analysis
matplotlib  # For creating visualizations
numpy  # For numerical computations

datasets # For loading and processing datasets

# Jupyter Notebook
notebook  # For running Jupyter notebooks

# OpenAI SDK
openai  # For interacting with the OpenAI API

# Azure Cognitive Services for control-plane access.
azure-identity
azure-mgmt-cognitiveservices